---
layout: default
---
{% if page.img %}
  <aside class="sidebar" style="background-image: url({{ "/assets/img/" | prepend: site.baseurl | append : page.img}}); background-position-x:{{page.img-pos-x}}">
{% else %}
  <aside class="sidebar" style="background-image: url({{ "/assets/img/" | prepend: site.baseurl | append : site.author-img}});">
{% endif %}
  <div class="sidebar-img"></div>
  <header>
    <div class="about">
      <a href="{{site.baseurl}}/" style="text-decoration: none;">
        <div class="site-title">{{site.title}}</div>
      </a>
      <hr style="width:80%;">
      <p>{{site.description}}</p>
    </div>
    <ul class="pages">
      {% for page in site.pages %}
        {% if page.title %}
          <li><a href="{{site.baseurl}}/{{page.title | downcase}}">{{page.title}}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </header> <!-- End Header -->
  <footer>
    <section class="contact">
      <h3 class="contact-title">Don't contact me</h3>
      <ul>
        <li><a><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        <li class="github"><a><i class="fa fa-github"></i></a></li>
        <li class="linkedin"><a><i class="fa fa-linkedin"></i></a></li>
        <li class="email"><a><i class="fa fa-envelope-o"></i></a></li>
      </ul>
    </section> <!-- End Section Contact -->
    <div class="copyright">
      <p>{{site.time | date: '%Y'}} &copy; {{site.author}}</p>
    </div>
  </footer> <!-- End Footer -->
</aside> <!-- End Sidebar -->
<div class="content-box clearfix">
  {{ content }}
</div>
